html {
    font-family: "Roboto", sans-serif;
    color: #222;
    line-height: 1.4;
    font-size: 110%;
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

.logo {
    width: 160px;
    display: block;
    margin: 0 auto;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-right: 0;
    padding-bottom: 1.5em;
    padding-left: 0;
}

header {
    padding-top: 1.5em;
    padding-right: 0;
    padding-bottom: 1.5em;
    padding-left: 0;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav {
    text-align: center;
}

nav ul li {
    display: inline;
}
nav a:link {
    padding-top: .5em;
    padding-right: .75em;
    padding-bottom: .5em;
    padding-left: .75em;
    border-radius: 8px;
}

nav a:link, ul a:visited {
    background-color: purple;
    color: white;
    border: 2px solid 8px;
    text-decoration: none; 
}

nav a:hover, ul a:focus {
    background-color: white;
    color: purple;
    border: 2px solid purple;
}

.hero {
    width: 100%;
    padding-top: 10em;
    padding-right: 0;
    padding-bottom: 10em;
    padding-left: 0em;
    background-image: url("../images/greatest-90s-fashion-trends.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

div > h1 {
  width: 75%;
  padding-top: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(0,0,0,.25);
  text-shadow: 2px 2px rgba(0,0,0,.8);
}

.trends {
    background-color: purple;
}

figure {
width: 22%;
display: inline-block;
text-align: center;
}

figcaption {
    color: white;
    font-style: italic;
}

.icon {
    display: inline-block;
    padding-top: 2em;
    padding-right: 0;
    padding-left: 2em;
    padding-left: 0;
}

.icon img {
    width: 260px;
    float: left;
    margin-right: 2em;
}

.icon + p {
    clear: left;
}

.featured-articles {
    display: none;
}

footer {
    background-color: black;
    color: white;
}

footer .wrapper {
    text-align: center;
    padding: 8px;
    padding-right: 0;
    padding-bottom: 8px;
    padding-left: 0;
}







